<!-- <button class="mat-button-raised">Primary</button>
<div class="mat-display-4">This is Display Class 4</div>
<div class="mat-display-3">This is Display Class 3</div>
<div class="mat-display-2">This is Display Class 2</div>
<div class="mat-display-1">This is Display Class 1</div>

<div class="mat-headline">Headline class</div>
<div class="mat-title">Title class</div>
<div class="mat-subheading-2">Subheading 2 class</div>
<div class="mat-subheading-1">Subheading 1</div>

<div class="mat-body-1">Body 1 class</div>
<div class="mat-body-2">Body 2 class</div>
<div class="mat-caption">Caption class</div>

<div class="mat-typography">
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
</div> -->

<!--Buttons-->

<!-- <div style="margin-top:10%">
<button mat-button style="margin-right:10%">Click me</button>
<button mat-raised-button style="margin-right:10%;background-color:blue;color:white">Hello World</button>
<button mat-flat-button style="margin-right:10%">Click me</button>
<button mat-stroked-button style="margin-right:10%">Click me</button>
</div>

<div>
    <button mat-icon-button style="margin-right:10%">Icon</button>
    <button mat-fab style="margin-right:10%">Fab</button>
    <button mat-mini-fab>minifab</button>
</div>

<div>
    <button color="primary" mat-button>Primary</button>
    <button color="accent" mat-button>Accent</button>
    <button color="warn"disableRipple mat-button>Warn</button>
    <button color="primary" mat-raised-button>Primary</button>
    <button color="accent" mat-raised-button>Accent</button>
    <button color="warn" mat-raised-button>Warn</button>
</div> -->

<!-- Button Toggle -->
<!-- <div>
    <mat-button-toggle #togglebtn disableRipple checked>Toggle</mat-button-toggle>
    {{togglebtn.checked}}
</div>
<div>
    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
        <mat-button-toggle value="angular">Angular</mat-button-toggle>
        <mat-button-toggle value="react">React</mat-button-toggle>
        <mat-button-toggle value="vue">Vue</mat-button-toggle>
    </mat-button-toggle-group>
    {{toggleGroup.value}}
</div> -->

<!-- Icon -->
<!-- <div>
    <mat-icon color="primary">whatsapp</mat-icon>
</div> -->

<!-- Badges -->
<div>
    <div>
    <span matBadge="5">whatsapp</span>
    </div>
    <div>
    <span matBadge="5" matBadgePosition="below before">whatsapp</span>
    </div>
    <div>
    <span matBadge="5" matBadgePosition="below after">whatsapp</span>
    </div>
    <div>
    <span matBadge="5" matBadgePosition="above before">whatsapp</span>
    </div>
    <div>
    <span matBadge="5" matBadgePosition="above after">whatsapp</span>
    </div>
</div>
<div>
    <div>
        <span matBadge="5" matBadgeSize="small">whatsapp</span>
        </div>
        <div>
        <span matBadge="5" matBadgeSize="medium">whatsapp</span>
        </div>
        <div>
        <span matBadge="5" matBadgeSize="large">whatsapp</span>
        </div>
</div>
<div>
    <span matBadge="5" matBadgeColor="primary">whatsapp</span>
</div>
<div>
    <span matBadge="5" matBadgeColor="accent">whatsapp</span>
</div>
<div>
    <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false">whatsapp</span>
</div>
<!--Binding value-->
<!-- <div>
    <span [matBadge]="notification"  matBadgeColor="warn" matBadgeOverlap="false">whatsapp</span>
</div> -->