.decorate
{
    width:500px;
    height:450px;
    margin-left:580px;
    margin-top:150px;
    background-color: white;
    padding:20px;
    box-shadow: 12px 12px 2px 1px grey;
}
.space
{
    margin-top:10px;
}
.btn
{
    margin-left:200px;
    width:60px;
    height:30px;
}