<!-- <form [formGroup]="registerform" (ngSubmit)="Onsubmit(registerform)">
    <div class="decorate">
      <h2 style="margin-bottom:10px;margin-left:160px;">Registration Form</h2>
    <div class="form-group">
        <label for="firstname1" class="fontxt">Firstname</label>
        <input type="email" class="form-control" id="firstname1" aria-describedby="emailHelp" placeholder="firstname" formControlName="fname">
        <label for="lastname1" class="fontxt"class="space">Lastname</label>
        <input type="email" class="form-control" id="lastname1" aria-describedby="emailHelp" placeholder="lastname" formControlName="lname">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1" class="fontxt">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email " FormControlName="emailadd">
      </div>
      <div class="form-group">
        <label for="Password1" class="fontxt">Password</label>
        <input type="password" class="form-control" id="Password1" placeholder="Password" formControlName="pass">
        <label for="cPassword1" class="fontxt" class="space">Confirm Password</label>
        <input type="password" class="form-control" id="cPassword1" placeholder="ConfirmPassword" formControlName="cpass">
      </div>
      <button type="submit" class="btn btn-primary">Register</button><br>
    </div>
    </form> -->

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 backcolor col-md-6 col-sm-6">
      <div class="imgdesign">
      <img src="assets/img/iconregister.png" alt="image">
      </div>
      <div class="ainvoice">
        <span>AceInvoice</span>
      </div>
      <div class="timetrack">
        <span>Time Tracking and Invoicing</span>
      </div>
      <div class="view">
        <i class="fa fa-globe" aria-hidden="true"></i>
        <span>Visit AceInvoice.com</span>
      </div>
    </div>
    <div class="col-lg-6 padleft col-md-6 col-sm-6">
      <p class="sign-inpage">Sign in</p>
      <form action="">
        <div class="form-group">
          <input type="text" placeholder="Email" name="e_mail">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" name="pass_word">
        </div>
        <div class="flexalign">
          <span class="forget">Forgot Password ?</span>
          <button class="sign-inbtn">Sign in</button>
        </div>
        <div class="form-group">
          <div class="account">Don't have an account? <span style="color:blueviolet;font-weight:bolder;margin-left:1%;"><a href="#"routerLink="/login"> Sign up</a></span></div>
        </div>
      </form>
    </div>
  </div>
</div> -->
<div class="bgimg"></div>

<div class="decorate">
  <div class="sign">
      <h2 class="sign-up">Sign Up</h2>
      <p class="para_tag">Please fill in this form to create account!</p>
      <hr>
  </div>
      <form [formGroup]="registerform" (ngSubmit)="Onsubmit(registerform)">
          <div class="form_s indentleft">
              <input type="text"  placeholder="firstname" class="first_name" formControlName="FirstName" >
              <input type="text" class="lname" placeholder="lastname"  formControlName="LastName"  >
          </div>
          <div class="indentleft">
              <input type="email" placeholder="email"  class="email" formControlName="Email">
              <input type="password" placeholder="password"  class="passwd" formControlName="Password">
              <input type="password" placeholder="Confirm password"  class="cpasswd" formControlName="Cpassword"><br>
              <input type="checkbox" id="tick" name="tick" value="accept">
              <label for="tick" class="accept">I accept the <p class="terms">Terms Of Use</p> & <p class="privacy">Privarcy policy</p></label><br>
              <button class="boton_r btn btn-primary" onclick="document.getElementById('myInput').value = ''">Sign Up</button>
              <p class="apara_align">Already have an account ?<span class="sign-in"><a href="#" routerLink="/login" style="text-decoration:none">Sign in</a></span></p>
          </div>
      </form>
</div>
